LOAD_TEST_SIMULATE_SENDING=true
LOAD_TEST_SERVICE_BUS_NAMESPACE=###.servicebus.windows.net
APPEALS_LOAD_TEST_CASE_TYPE=S78
APPEALS_LOAD_TEST_CASE_COUNT=1
APPEALS_LOAD_TEST_DOCUMENTS_PER_CASE=2
APPEALS_LOAD_TEST_BATCH_SIZE=50
