# Node
node_modules
npm-debug.log

# Editors
.idea
**/*.swp

# Env settings / local env files
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Python Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*cache
!src/lib

# MacOS
.DS_Store