{
	"printWidth": 120,
	"tabWidth": 2,
	"singleQuote": true,
	"useTabs": true,
	"semi": true,
	"trailingComma": "none",
	"bracketSpacing": true,
	"arrowParens": "always",
	"plugins": [],
	"overrides": [
		{
			"files": "*.json",
			"options": {
				"useTabs": false
			}
		}
	]
}
